@import "../../utilities/variables.scss";

@media (min-width: $standard-desktop) {
  .blurbSection {

    h1, p {
      margin-left: 150px;
      margin-right: 150px;
      
    }

    
  }
}

.blurbSection {
  padding-top: 50px;
  padding-bottom: 100px;


  p {
    font-size: 17px;
  }

  h1, p {
    color: $color;
    text-align: center;
  }

  h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
  }
}

