@import "../../utilities/variables.scss";

.newsSection {
  border-bottom: 1px solid $color;
  
  .newsEntries {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .newsChild {
      width: 100%;
      

      @media (min-width: $standard-desktop) {
        box-sizing: border-box;
        max-width: 49.2%;
      }

      @media (min-width: 1500px) {
        box-sizing: border-box;
        max-width: 32.3%;
      }
    }

    a {
      color: $color;
    }

    body {
      color: #333333;
      font-family: 'Helvetica', arial;
      height: 80em;
    }
    
    .wrap {
      padding: 40px;
      text-align: center;
    }
    
    hr {
      clear: both;
      margin-top: 40px;
      margin-bottom: 40px;
      border: 0;
      border-top: 1px solid #aaaaaa;
    }
      
    h1 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    
    p {
      margin-bottom: 20px;
    }
    
    .btn {
      background: #428bca;
      border: #357ebd solid 1px;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      padding: 8px 15px;
      text-decoration: none;
      text-align: center;
      min-width: 60px;
      position: relative;
      transition: color .1s ease;
      /* top: 40em;*/
    }
    
    .btn:hover {
      background: #357ebd;
    }
    
    .btn.btn-big {
      font-size: 18px;
      padding: 15px 20px;
      min-width: 100px;
    }
    
    .btn-close {
      color: $color;
      font-size: 35px;
      text-decoration: none;
      position: absolute;
      right: 12px;
      top: 0;
      padding-left: 50px;
    }
    
    .btn-close:hover {
      color: #919191;
    }
    
    .modal:before {
      content: "";
      display: none;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    
    .modal:target:before {
      display: block;
    }
    
    .modal:target .modal-dialog {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      
      bottom: 0%;
    }

    .modal-dialog {
      overflow-y: auto;
      
      overflow-x: hidden;
      background: $grey;
      border: $dark-grey solid 1px;
      border-radius: 5px;
      width: 100%;
      max-width: 750px;
      max-height: 100%;
      //margin-left: -200px;
      position: fixed;
      //left: 57%;
      //top: -100%;
      z-index: 11;
      //width: 350px;
      -webkit-transform: translate(0, 500%);
      -ms-transform: translate(0, 500%);
      transform: translate(0, 500%);
      -webkit-transition: -webkit-transform 0.3s ease-out;
      -moz-transition: -moz-transform 0.3s ease-out;
      -o-transition: -o-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      left: 0;

      @media (max-width: 750px) {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */

        &::-webkit-scrollbar {
        background: transparent; /* Chrome/Safari/Webkit */
        width: 0px;
        }
      }  

      @media (min-width: 750px) {
        left: 0%;
      }

      @media (min-width: 800px) {
        left: 2.5%;
      }

      @media (min-width: 850px) {
        left: 5%;
      }

      @media (min-width: 900px) {
        left: 10%;
      }

      @media (min-width: 1100px) {
        left: 15%;
      }

      @media (min-width: 1300px) {
        left: 22%;
      }

      @media (min-width: 1600px) {
        left: 25%;
      }

      @media (min-width: 1700px) {
        left: 28%;
      }

      @media (min-width: 2000px) {
        left: 33%;
      }

      @media (min-width: 2300px) {
        left: 34%;
      }

      .newsImage {
        width: 100%;
        height: 100%;
      }

    }
    
    .modal-body {
      padding: 20px;

      p {
        margin-top: 0px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        border: 1px solid $color;
      }
    }

    .modal-header,
    .modal-footer {
      padding: 10px 20px;
    }
    
    .modal-header {
      border-bottom: $color solid 1px;

      h2 {
        max-width: 95%;
      }

      p {
        margin-bottom: 10px;
      }
    }
    
    .modal-header h2 {
      font-size: 20px;
    }
    
    .modal-footer {
      border-top: #eeeeee solid 1px;
      text-align: right;
    }
    
    #close {
      display: none;
    }
  }

  .newsEntry {
    border: 1px solid $grey;
    padding: 0 10px;
    margin: 5px 0;

    @media (min-width: $standard-desktop) {
      margin: 10px 0;
    }
  }

  h2 {
    font-weight: 500;
    color: $color;
    font-size: 16px;
  }

  h1 {
    margin: 0 0 10px 0;
  }

  h2, p {
    margin: 10px 0;
  }

  p {
    font-size: 12px
  }


}



