// Utilities
@import "utilities/variables";

body {
  background-color: $dark-grey;
  max-width: 1400px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


//Utility Commands

.gold {
  color: $color;
}

.show-desktop {
  display: flex;

  @media (max-width: $standard-desktop) {
    display: none;
  }
}

.show-mobile {
  display: flex;

  @media (min-width: $standard-desktop) {
    display: none;
  }
}

.margin-dynamic {
  margin: 25px 50px;

  @media (max-width: $standard-desktop) {
    margin: 25px 25px;
  }

}