// Utilities
@import "utilities/variables";

body {
  background-color: $dark-grey;
  
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


//Utility Commands

.gold {
  color: $color;
}

.show-desktop {
  display: flex;

  @media (max-width: $standard-desktop) {
    display: none;
  }
}

.show-mobile {
  display: flex;

  @media (min-width: $standard-desktop) {
    display: none;
  }
}

.margin-dynamic {
  margin: 0 50px 25px 50px;
  padding: 25px 0;

  @media (max-width: $standard-desktop) {
    margin: 0 25px 25px 25px;
    padding: 25px 0;
  }

}